{% load static %}

<link rel="stylesheet" href="{% static 'bootstrap-table/dist/bootstrap-table.min.css' %}">
<link rel="stylesheet" href="{% static 'x-editable/bootstrap3-editable/css/bootstrap-editable.css' %}">
<link rel="stylesheet" href="{% static 'jquery-treegrid/css/jquery.treegrid.css' %}">


<div class="table-container" id="PricingTablePanel1Table1ContainerId">
    <table id="PricingTablePanel1Table1Id"></table>
</div>

<style>
    .detail{
        display: table-cell;
    }

    .price{

    }

    .fht-cell, .fht-cell input {
        min-height: 38px;
    }
</style>