Django == 1.11.1
pytz == 2018.3
cython == 0.27.3
numpy == 1.14.0
pandas == 0.22.0
requests == 2.18.4
html5lib == 1.0.1
xlrd == 1.1.0
openpyxl == 2.5.0
tzlocal == 1.5.1
django-mssql == 1.8
python-tds == 1.9.1
bitarray == 0.8.1
django-sqlserver == 1.11
celery == 4.1.0
redis == 2.10.6
tornado < 5.0.0
geopy == 1.14.0
