{% extends 'bowlero_backend/modal.html' %}

{% block modal_id %}LeaguePricingSheetPanel2Modal1Add{% endblock %}

{% block form_title %}Add League{% endblock form_title %}

{% block modal-body_footer %}
  <form method="get" id="LeaguePricingSheetPanel2Modal1AddFormId" class="form-horizontal form-label-left">
    {% csrf_token %}
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="center_id">Center Id<span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="center_id" name="center_id" type="text" class="form-control col-md-12 col-xs-12" style="width:100% " required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="duration">Duration(Weeks)<span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
              <input id="duration" name="duration" type="text" class="form-control col-md-12 col-xs-12" style="width:100% " required>
          </div>
         </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="LeaguePricingSheetPanel2Modal1AddYes">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button id="LeaguePricingSheetPanel2Modal1AddNo" type="button" class="btn btn-danger" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
  </form>
{% endblock modal-body_footer %}