  <form method="post" id="EventPriceByCenterPanel1Form1" class="form-horizontal form-label-left">
  {% csrf_token %}
    <!-- Avoid Chrome autofill -->
    <input style="display: none">
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="groupSelections">Group
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <select id="groupSelections" name="groupSelections" multiple="multiple" class="select2_multiple form-control col-md-7 col-xs-12" style="width:80% ">
              <option value="Labor" selected>Labor</option>
          </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="productSelections">Products
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <select id="productSelections" name="productSelections" multiple="multiple" class="select2_multiple form-control col-md-7 col-xs-12" style="width:80% ">
          <option value="All" selected>All</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="centerSelections">Centers
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <select id="centerSelections" name="centerSelections" multiple="multiple" class="select2_multiple form-control col-md-7 col-xs-12" style="width:80% ">
              <option value="All" selected>All</option>
          </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <button type="submit" class="btn btn-primary " id="EventPriceByCenterPanel1Form1Submit">Submit</button>
      </div>
    </div>
  </form>
  <script>
      var csrf_token = "{{ csrf_token }}"
  </script>