<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="wk-price">Shoe Rental - Weekday
  </label>
  <div class="col-md-1 col-sm-1 col-xs-12">
    <select id="wk-price-symbol" name="wk-price-symbol" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
      <option value="plus">+</option>
      <option value="minus">-</option>
      <option value="equal">=</option>
    </select>
  </div>
  <div class="col-md-1 col-sm-1 col-xs-12">
    <input id="wk-price" name="wk-price" type="text" class="form-control col-md-12 col-xs-12" style="width:100% ">
  </div>
  <div class="col-md-1 col-sm-1 col-xs-12">
    <select id="wk-price-unit" name="wk-price-unit" class="form-control col-md-12 col-xs-12" style="width:100% " required>
      <option value="dollar">$</option>
      <option value="percent">%</option>
    </select>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-12">
    <select id="wk-price-base" name="wk-price-base" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
      <option value="114" selected="selected">Shoe Rental - Weekday</option>
      <option value="115">Shoe Rental - Weekend</option>
    </select>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="wknd-price">Shoe Rental - Weekend
  </label>
  <div class="col-md-1 col-sm-1 col-xs-12">
    <select id="wknd-price-symbol" name="wknd-price-symbol" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
      <option value="plus">+</option>
      <option value="minus">-</option>
      <option value="equal">=</option>
    </select>
  </div>
  <div class="col-md-1 col-sm-1 col-xs-12">
    <input id="wknd-price" name="wknd-price" type="text" class="form-control col-md-12 col-xs-12" style="width:100% ">
  </div>
  <div class="col-md-1 col-sm-1 col-xs-12">
    <select id="wknd-price-unit" name="wknd-price-unit" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
      <option value="dollar">$</option>
      <option value="percent">%</option>
    </select>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-12">
    <select id="wknd-price-base" name="wknd-price-base" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
      <option value="114" selected="selected">Shoe Rental - Weekday</option>
      <option value="115">Shoe Rental - Weekend</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
  <span style="color: red" class="col-md-6 col-sm-6 col-xs-12 text-left">
      Warning: <br/>
      ① Shoe Rental - Weekend Must Be >= Shoe Rental - Weekday<br/>
  </span>
</div>