<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="8pm-price">Friday 8PM AYCB
  </label>
  <div class="col-md-1 col-sm-1 col-xs-12">
    <select id="8pm-price-symbol" name="8pm-price-symbol" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
      <option value="plus">+</option>
      <option value="minus">-</option>
      <option value="equal">=</option>
    </select>
  </div>
  <div class="col-md-1 col-sm-1 col-xs-12">
    <input id="8pm-price" name="8pm-price" type="text" class="form-control col-md-12 col-xs-12" style="width:100% ">
  </div>
  <div class="col-md-1 col-sm-1 col-xs-12">
    <select id="8pm-price-unit" name="8pm-price-unit" class="form-control col-md-12 col-xs-12" style="width:100% " required>
      <option value="dollar">$</option>
      <option value="percent">%</option>
    </select>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-12">
    <select id="8pm-price-base" name="8pm-price-base" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
      <option value="2146481686" selected="selected">Friday 8PM AYCB</option>
      <option value="2146532909">Friday 9PM AYCB</option>
      <option value="2146507303">Friday 10PM AYCB</option>
      <option value="2146481687">Friday 11PM AYCB</option>
    </select>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="9pm-price">Friday 9PM AYCB
  </label>
  <div class="col-md-1 col-sm-1 col-xs-12">
    <select id="9pm-price-symbol" name="9pm-price-symbol" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
      <option value="plus">+</option>
      <option value="minus">-</option>
      <option value="equal">=</option>
    </select>
  </div>
  <div class="col-md-1 col-sm-1 col-xs-12">
    <input id="9pm-price" name="9pm-price" type="text" class="form-control col-md-12 col-xs-12" style="width:100% ">
  </div>
  <div class="col-md-1 col-sm-1 col-xs-12">
    <select id="9pm-price-unit" name="9pm-price-unit" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
      <option value="dollar">$</option>
      <option value="percent">%</option>
    </select>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-12">
    <select id="9pm-price-base" name="9pm-price-base" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
      <option value="2146481686">Friday 8PM AYCB</option>
      <option value="2146532909" selected="selected">Friday 9PM AYCB</option>
      <option value="2146507303">Friday 10PM AYCB</option>
      <option value="2146481687">Friday 11PM AYCB</option>
    </select>
  </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="10pm-price">Friday 10PM AYCB
    </label>
    <div class="col-md-1 col-sm-1 col-xs-12">
        <select id="10pm-price-symbol" name="10pm-price-symbol" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
            <option value="plus">+</option>
            <option value="minus">-</option>
            <option value="equal">=</option>
        </select>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-12">
        <input id="10pm-price" name="10pm-price" type="text" class="form-control col-md-12 col-xs-12" style="width:100% ">
    </div>
    <div class="col-md-1 col-sm-1 col-xs-12">
        <select id="10pm-price-unit" name="10pm-price-unit" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
            <option value="dollar">$</option>
            <option value="percent">%</option>
        </select>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
        <select id="10pm-price-base" name="10pm-price-base" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
            <option value="2146481686">Friday 8PM AYCB</option>
            <option value="2146532909">Friday 9PM AYCB</option>
            <option value="2146507303" selected="selected">Friday 10PM AYCB</option>
            <option value="2146481687">Friday 11PM AYCB</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="11pm-price">Friday 11PM AYCB
    </label>
    <div class="col-md-1 col-sm-1 col-xs-12">
        <select id="11pm-price-symbol" name="11pm-price-symbol" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
            <option value="plus">+</option>
            <option value="minus">-</option>
            <option value="equal">=</option>
        </select>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-12">
        <input id="11pm-price" name="11pm-price" type="text" class="form-control col-md-12 col-xs-12" style="width:100% ">
    </div>
    <div class="col-md-1 col-sm-1 col-xs-12">
        <select id="11pm-price-unit" name="11pm-price-unit" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
            <option value="dollar">$</option>
            <option value="percent">%</option>
        </select>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12">
        <select id="11pm-price-base" name="11pm-price-base" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
            <option value="2146481686">Friday 8PM AYCB</option>
            <option value="2146532909">Friday 9PM AYCB</option>
            <option value="2146507303">Friday 10PM AYCB</option>
            <option value="2146481687" selected="selected">Friday 11PM AYCB</option>
        </select>
    </div>
</div>
