    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="np-price">Non Prime
      </label>
      <div class="col-md-1 col-sm-1 col-xs-12">
        <select id="np-price-symbol" name="np-price-symbol" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
          <option value="plus">+</option>
          <option value="minus">-</option>
          <option value="equal">=</option>
        </select>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12">
        <input id="np-price" name="np-price" type="text" class="form-control col-md-12 col-xs-12" style="width:100% ">
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12">
        <select id="np-price-unit" name="np-price-unit" class="form-control col-md-12 col-xs-12" style="width:100% " required>
          <option value="dollar">$</option>
          <option value="percent">%</option>
        </select>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12">
        <select id="np-price-base" name="np-price-base" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
          <option value="108" selected="selected">Non Prime</option>
          <option value="110">Weekday Prime</option>
          <option value="111">Weekend Prime</option>
          <option value="113">Premium</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="primewk-price">Weekday Prime
      </label>
      <div class="col-md-1 col-sm-1 col-xs-12">
        <select id="primewk-price-symbol" name="primewk-price-symbol" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
          <option value="plus">+</option>
          <option value="minus">-</option>
          <option value="equal">=</option>
        </select>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12">
        <input id="primewk-price" name="primewk-price" type="text" class="form-control col-md-12 col-xs-12" style="width:100% ">
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12">
        <select id="primewk-price-unit" name="primewk-price-unit" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
          <option value="dollar">$</option>
          <option value="percent">%</option>
        </select>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12">
        <select id="primewk-price-base" name="primewk-price-base" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
          <option value="108">Non Prime</option>
          <option value="110" selected="selected">Weekday Prime</option>
          <option value="111">Weekend Prime</option>
          <option value="113">Premium</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="primewkd-price">Weekend Prime
      </label>
      <div class="col-md-1 col-sm-1 col-xs-12">
        <select id="primewkd-price-symbol" name="primewkd-price-symbol" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
          <option value="plus">+</option>
          <option value="minus">-</option>
          <option value="equal">=</option>
        </select>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12">
        <input id="primewkd-price" name="primewkd-price" type="text" class="form-control col-md-12 col-xs-12" style="width:100% ">
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12">
        <select id="primewkd-price-unit" name="primewkd-price-unit" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
          <option value="dollar">$</option>
          <option value="percent">%</option>
        </select>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12">
        <select id="primewkd-price-base" name="primewkd-price-base" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
          <option value="108">Non Prime</option>
          <option value="110">Weekday Prime</option>
          <option value="111" selected="selected">Weekend Prime</option>
          <option value="113">Premium</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="premium-price">Premium
      </label>
      <div class="col-md-1 col-sm-1 col-xs-12">
        <select id="premium-price-symbol" name="premium-price-symbol" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
          <option value="plus">+</option>
          <option value="minus">-</option>
          <option value="equal">=</option>
        </select>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12">
        <input id="premium-price" name="premium-price" type="text" class="form-control col-md-12 col-xs-12" style="width:100% ">
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12">
        <select id="premium-price-unit" name="premium-price-unit" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
          <option value="dollar">$</option>
          <option value="percent">%</option>
        </select>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12">
        <select id="premium-price-base" name="premium-price-base" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
          <option value="108">Non Prime</option>
          <option value="110">Weekday Prime</option>
          <option value="111">Weekend Prime</option>
          <option value="113" selected="selected">Premium</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
      <span style="color: red" class="col-md-6 col-sm-6 col-xs-12 text-left">
          Warning: <br/>
          ① Premium or Prime Price Must Be >= Non Prime Price<br/>
          ② Premium Price Must be >= Prime Price
      </span>
    </div>