<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">Price
  </label>
  <div class="col-md-1 col-sm-1 col-xs-12">
    <select id="price-symbol" name="price-symbol" class=" form-control col-md-12 col-xs-12" style="width:100% " required>
      <option value="plus">+</option>
      <option value="minus">-</option>
      <option value="equal">=</option>
    </select>
  </div>
  <div class="col-md-1 col-sm-1 col-xs-12">
    <input id="price" name="price" type="text" class="form-control col-md-12 col-xs-12" style="width:100% ">
  </div>
  <div class="col-md-1 col-sm-1 col-xs-12">
    <select id="price-unit" name="price-unit" class="form-control col-md-12 col-xs-12" style="width:100% " required>
      <option value="dollar">$</option>
      <option value="percent">%</option>
    </select>
  </div>
</div>