{% extends 'bowlero_backend/dashboard_base.html' %}
{% load static %}

{% block content_dashboard %}
{#<div class="row">#}
{#  {% include 'EventOverview/EventOverviewPanel1.html' %}#}
{#</div>#}
<div class="row">
  {% include 'EventOverview/EventOverviewPanel2.html' %}
</div>

{% endblock content_dashboard %}

{% block foot_js_dashboard %}
    <script type="text/javascript">
      require(["{% static 'requirejs/config.js' %}?version={{ VERSION }}"], function (config) {
        require(["{% static 'EventOverview/js/EventOverview.js' %}?version={{ VERSION }}"],function(){
        })
      });
    </script>
{% endblock foot_js_dashboard %}